<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ic_cardspectrum_page1@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,2032},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>ic_cardspectrum_page2@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,2032},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>ic_game_Pair@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,813},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>ic_game_poker@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,973},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ic_menu-i6p@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,1008},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>ic_game_new@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,2000},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_game_microphone@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,882},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>ic_game_cell_lightgray@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2046},{491,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,2}</string>
			</dict>
			<key>ic_insurance_close@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,2000},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>ic_PersonalSettings_blue@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1690},{146,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,213}</string>
			</dict>
			<key>PersonalSettings_black@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,600},{146,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,213}</string>
			</dict>
			<key>ic_game_personalsettings_1x@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,1343},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>ic_game_personalsettings_12@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,1420},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>ic_game_personalsettings_23@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,1421},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>ic_game_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1433},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>SwitchOnLight@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,1938},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,94}</string>
			</dict>
			<key>ic_close@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,2000},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>ic_but_close@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,1903},{101,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,62}</string>
			</dict>
			<key>ic_qipai@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,1259},{126,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,135}</string>
			</dict>
			<key>ic_kanpai@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,1385},{126,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,135}</string>
			</dict>
			<key>ic_dichi@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,1039},{91,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,107}</string>
			</dict>
			<key>ic_ziyoujiazhu@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,999},{130,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,137}</string>
			</dict>
			<key>ic_sitdown@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1341},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>ic_game_brand@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,951},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
			<key>ic_game_chip@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,2000},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>ic_gamebasic_speaking@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,1212},{65,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,18}</string>
			</dict>
			<key>ic_gamebasic_speakingback@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,2000},{125,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,38}</string>
			</dict>
			<key>ic_yellowline@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,2043},{1,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,740}</string>
			</dict>
			<key>ic_button2@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,1552},{111,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,52}</string>
			</dict>
			<key>ic_button1@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,862},{111,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,52}</string>
			</dict>
			<key>anim_youwin1-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1036},{646,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,199}</string>
			</dict>
			<key>anim_youwin2-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1682},{646,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,199}</string>
			</dict>
			<key>anim_youwin3-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,0},{646,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,199}</string>
			</dict>
			<key>anim_youwin4-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,646},{646,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,199}</string>
			</dict>
			<key>anim_youwin5-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,1292},{646,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,199}</string>
			</dict>
			<key>anim_youwin6-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,0},{646,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,199}</string>
			</dict>
			<key>ic_paixing-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,1938},{190,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,62}</string>
			</dict>
			<key>ic_rng-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,722},{140,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,65}</string>
			</dict>
			<key>disable_jiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,1129},{130,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,137}</string>
			</dict>
			<key>disable_dichi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,1146},{91,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,107}</string>
			</dict>
			<key>ic_Cardspectrum_people@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,1277},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>ic_blue@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,2000},{88,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,46}</string>
			</dict>
			<key>ic_Cardspectrum_chip@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,1296},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>ic_red@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,2000},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ic_green@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,2000},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ic_share@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,2000},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>ic_star@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,1903},{34,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>ic_OurCards_Fieldgreen@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,1332},{110,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,56}</string>
			</dict>
			<key>ic_OurCards_Fieldred@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,1442},{110,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,56}</string>
			</dict>
			<key>ic_newclub_circular@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,1253},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>ic_baoxian_xianzaikaiju@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2000},{140,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,46}</string>
			</dict>
			<key>ic_blueagree@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,2000},{88,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,38}</string>
			</dict>
			<key>ic_newbg@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{524,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{524,538}</string>
			</dict>
			<key>ic_redrefuse@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,2000},{88,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,38}</string>
			</dict>
			<key>ic_greenclose@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,2000},{162,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,38}</string>
			</dict>
			<key>2btn_pressed@3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,0},{420,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,102}</string>
			</dict>
			<key>allinodds2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,420},{151,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,67}</string>
			</dict>
			<key>allinodds1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,571},{151,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,67}</string>
			</dict>
			<key>ic_sliderbg-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1881},{815,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{815,119}</string>
			</dict>
			<key>close_game_settings_btn-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,824},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>ready_btn-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,0},{404,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,163}</string>
			</dict>
			<key>ready_btn_disable-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,404},{404,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,163}</string>
			</dict>
			<key>ready_btn_pressed-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,808},{404,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,163}</string>
			</dict>
			<key>loading_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,0},{200,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,114}</string>
			</dict>
			<key>loading_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,200},{200,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,114}</string>
			</dict>
			<key>loading_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,400},{200,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,114}</string>
			</dict>
			<key>loading_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,813},{200,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,114}</string>
			</dict>
			<key>loading_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1013},{200,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,114}</string>
			</dict>
			<key>game_join_btn_pressed-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1212},{478,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,112}</string>
			</dict>
			<key>ic_viewicon-i6p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,646},{178,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,178}</string>
			</dict>
			<key>ic_purchase@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,1213},{130,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,137}</string>
			</dict>
			<key>ic_knob@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,1343},{78,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,81}</string>
			</dict>
			<key>ic_graytrack@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,2038},{762,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{762,5}</string>
			</dict>
			<key>ic_whitetrack@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,2043},{452,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,5}</string>
			</dict>
			<key>ic_0002@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,538},{498,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,387}</string>
			</dict>
			<key>ic_0003@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,1061},{75,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,104}</string>
			</dict>
			<key>jiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,2000},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>kanpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,2000},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>qipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,2004},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>allin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1903},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>liuzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,1212},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>genzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1990,1272},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>straddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,2000},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>