<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,2},{536,508}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,508}}</string>
                <key>sourceSize</key>
                <string>{538,508}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,1049},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,540},{750,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,140}}</string>
                <key>sourceSize</key>
                <string>{750,140}</string>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>btnBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3376,834},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>btnBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3374,1151},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>btnBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3310,1175},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>closeBtn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3448,1005},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{24,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ic_lodingsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3438,1151},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3368,540},{633,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,2}}</string>
                <key>sourceSize</key>
                <string>{633,2}</string>
            </dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,540},{507,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,2}}</string>
                <key>sourceSize</key>
                <string>{507,2}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{3468,540},{30,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,36}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>lock_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3310,1112},{28,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>loginBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>loginBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3448,834},{169,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,60}}</string>
                <key>sourceSize</key>
                <string>{169,60}</string>
            </dict>
            <key>loginBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>loginBtn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3376,540},{292,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,90}}</string>
                <key>sourceSize</key>
                <string>{292,90}</string>
            </dict>
            <key>logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3152,1112},{156,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,218}}</string>
                <key>sourceSize</key>
                <string>{156,218}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{3010,1292},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{34,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>returnBtn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3500,540},{18,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{18,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>smallBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3152,540},{570,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,214}}</string>
                <key>sourceSize</key>
                <string>{570,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginPlist.png</string>
            <key>size</key>
            <string>{3520,1338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c94bc5271acfb098068462cea5dda5d9$</string>
            <key>textureFileName</key>
            <string>loginPlist.png</string>
        </dict>
    </dict>
</plist>
